In [1]:
import pandas as pd
import numpy as np
import matplotlib as pl
import matplotlib.pyplot as plt 
import mpl_toolkits.basemap as bm
%matplotlib inline

In [2]:
data = pd.read_csv("data.csv")

In [4]:
data.head()

,DATE,TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,UNIQUE KEY,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,12/08/2015,9:56,QUEENS,11432,40.709754,-73.795618,"(40.7097537, -73.7956175)",167 STREET,HILLSIDE AVENUE,NaN,...,Driver Inattention/Distraction,NaN,NaN,NaN,3349320,PASSENGER VEHICLE,SMALL COM VEH(4 TIRES),NaN,NaN,NaN
1,12/08/2015,0:01,QUEENS,11355,40.753722,-73.832821,"(40.7537216, -73.8328215)",COLLEGE POINT BOULEVARD,MAPLE AVENUE,NaN,...,NaN,NaN,NaN,NaN,3349991,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
2,12/08/2015,0:51,QUEENS,11354,40.762954,-73.831957,"(40.7629537, -73.8319573)",MAIN STREET,NORTHERN BOULEVARD,NaN,...,Unspecified,NaN,NaN,NaN,3349379,PASSENGER VEHICLE,TAXI,NaN,NaN,NaN
3,12/08/2015,0:45,NaN,NaN,40.714502,-73.896065,"(40.7145021, -73.8960647)",MOUNT OLIVET CRESCENT,62 STREET,NaN,...,Unspecified,NaN,NaN,NaN,3349278,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
4,12/08/2015,0:35,BRONX,10454,40.810053,-73.925144,"(40.8100528, -73.9251435)",EAST 138 STREET,ALEXANDER AVENUE,NaN,...,Unspecified,Unspecified,NaN,NaN,3348955,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN